<div class="panel panel-success">
 <div class="panel-heading">ガイドライン</div>
    <div class="panel-body"> 災害物資を送る際の注意点などを紹介します。</div>     
 </div>
 　<div class="section"><h3>注意</h3>
 　　<p>支援物資が届いても段ボールの外側に中身の情報が書かれていないため仕訳に時間がかかる</p>
 　　<P>→ちゃんと種類ごとに箱詰めして段ボールに物資名を書く</P>
 　<p><a href="http://rsy-nagoya.com/volunteer/sizai.html">被災地へ物資配りと送る前に必ず読むこと</a></p>
 　<p><a href="http://www.komeri-npo.org/goods/shelter/index.html">避難生活で必要となる物資一覧</a></p>
 　</div>
 </div>
 <br>
 <div class="panel panel-success">
  <div class="panel-heading">個人での送付がおすすめな物資</div>
     <div class="panel-body"> 
     　<table class="table table-bordered" >
	<tbody>
		<tr class="active">
			<th>番号</th>
			<th>項目種類</th>
			<th>物資名</th>
			<th>備考</th>
		</tr>
		<tr>
			<td>1</td>
			<td>共通</td>
			<td><a href="http://item.rakuten.co.jp/jism/4901872444823-73-23231304-n/">ボディーシート</a></td>
			<td>全身のふき取りができ、油や汚れを取り除けるもの</td>
		</tr>
		<tr>
			<td>2</td>
			<td>洗面具</td>
			<td>歯ブラシ、歯磨き粉、T字ひげそり</td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>衣類</td>
			<td>下着、ジャージやトレーナー</td>
			<td>汚れ、シミ、破れがなく、なるべくきれいなものか新品が望ましい。</td>
		</tr>
		<tr>
			<td>4</td>
			<td>ティーパック</td>
			<td>水出しのお茶等</td>
			<td>あまり始める飲料水を利用</td>
		</tr>
		<tr>
			<td>5</td>
			<td>子供や幼児</td>
			<td>ジュース、<a href="https://www.amazon.co.jp/dp/B00TOCKFJ6?tag=hisaimama-22&camp=243&creative=1615&linkCode=as1&creativeASIN=B00TOCKFJ6&adid=12RK11R4CWKGTSX3A864&">お菓子</a>
			　（チョコ、飴など）、<br>おもちゃ（折り紙、ボールなど）、オムツ</td>
			<td>賞味期限が3日以内の飲食物は衛生的に悪いので、やめてください。</td>
		</tr>
		<tr>
			<td>6</td>
			<td>高齢・要介助者</td>
			<td>段ボール</td>
			<td>組立ベットやイスとして利用</td>
		</tr>
		<tr>
	</tbody>
</table>
     </div>     
  </div>
 </div>
 <div class="panel panel-success">
  <div class="panel-heading">これだけは絶対に送らないで！！</div>
     <div class="panel-body"> 
     　<table class="table table-bordered" >
      	<tbody>
      	<tr class="active">
      			<th>番号</th>
      			<th>項目</th>
      			<th>内容</th>
      		</tr>
      		<tr>
      			<td>1</td>
      			<td>千羽鶴、寄せ書きや応援メッセージ</td>
      			<td>ありがたいけども置き場所に困り仕分けも大変なので、やめてください</td>
      		</tr>
      		<tr>
      			<td>2</td>
      			<td>成分表が読めない海外製品</td>
      			<td>アレルギー成分がわからないため。<br>
      			  もし、海外製品の配送を考える場合は仕分け係が外国語に不慣れな方もいるので、<br>箱詰め前に日本語に訳した紙と一緒に入れてください。</td>
      		</tr>
      		<tr>
      			<td>３</td>
      			<td>冷凍製品</td>
      			<td>停電の影響で冷蔵庫が使えないため</td>
      		</tr>
      		<tr>
      			<td>４</td>
      			<td>保存食以外の食糧</td>
      			<td>缶詰、瓶詰、カップ麺も賞味期限切れのものは特に不安</td>
      		</tr>
      		<tr>
      			<td>5</td>
      			<td>古すぎる古着、洗濯せず汚い寝具、タオル、服、下着など</td>
      			<td>これを送られて貰っても・・・・。</td>
      		</tr>
      	</tbody>
      </table>
     </div>
 </div>