<div class="panel panel-success">
 <div class="panel-heading">ガイドライン</div>
    <div class="panel-body"> 災害物資を送る際の注意点などを紹介します。</div>     
 </div>
 　<div class="section"><h3>注意</h3>
 　　<p>支援物資が届いても段ボールの外側に中身の情報が書かれていないため仕訳に時間がかかる</p>
 　　<P>→ちゃんと種類ごとに箱詰めして段ボールに物資名を書く</P>
 　<p><a href="http://rsy-nagoya.com/volunteer/sizai.html">被災地へ物資配りと送る前に必ず読むこと</a></p>
 　</div>
 </div>
 
    　