<div class="col-sm-7">  
    <div class="panel panel-default">
      <div class="panel-heading">配信者個人情報</div>
      <div class="panel-body">
      現在、あなたが登録している個人情報です。<br>
      こちらの方へ補給側に支援物資が配送されるようお報せされます。<br>
      希望と違う場合はプロフ設定を変更して下さい。
        　
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th rowspan="2" width="10" class="active">配信者</th>
                <th width="90" class="active">フリナガ</th>
                <td>080-○○○○-○○○○</td>
            </tr>
            <tr>
                <th class="active">名前</th>
                <td>080-○○○○-○○○○</td>
            </tr>
            <tr>
                <th rowspan="3" class="active">連絡先</th>
                <th class="active">TEL</th>
                <td>080-○○○○-○○○○</td>
            </tr>
            <tr>
                <th class="active">FAX</th>
                <td>0577-○○○○-○○○○</td>
            </tr>
            <tr>
                <th class="active">メルアド</th>
                <td>×××××＠Yahoo.co.jp</td>
            </tr>
                <th rowspan="5" class="active">希望配達先住所</th>
                <th class="active">郵便番号</th>
                <td>000-1111</td>
            </tr>
            <tr>
                <th class="active">都道府県</th>
                <td>愛知県</td>
            </tr>
            <tr>
                <th class="active">市区町村</th>
                <td>○○市</td>
            </tr>
            <tr>
                <th class="active">番地以下</th>
                <td>三条通南二筋目白川筋西入ル二丁目北木之元町</td>
            </tr>
            <tr>
                <th class="active">建物名</th>
                <td>シャルマンフジビルト・モアー住之江公園駅前アーバンヴィレッジ</td>
            </tr>
            </tbody>
        </table>
    　</div>
    </div>
</div>