 <div class="col-sm-8">
<div class="panel panel-default">
  <div class="panel-heading">物上配信登録</div>
  <div class="panel-body">
      不足余剰品リスト登録フォームからこちらから支援物資の不足品や余剰品を入力して下さい。<br>
        <P style="color:red;">特に困っており対処の必要性が優先順位的に高い順に入力すると補給部隊等の関係者が理解しやすいです。</p>
        不足数と余剰数は1千兆（1,000,000,000,000,000)まで入力可能<br>
        このフォームの項目について<br>
        <li>不足品は今欲しい支援物資</li>
         <li>余剰品は今在庫状況的にいらないので誰かにあげたい支援物資</li>
          <li>段ボール数は１つ箱の中に支援物資がある状態→<例>たばこ1箱が最大12個収納でその中身が12個ある場合は１つとしてカウント。</li>
          <li>単数は段ボールに入らず残った数→
          <例>たばこ1箱が最大12個収納でその中身が10個ある場合は10個としてカウント</li><br>
          <ul>支援物資の配信方法
              <ol>
                <li>仕分け作業を行う</li>
                <li>仕分け結果を在庫管理表に入力</li>
                <li>お届け設定又は支援物資配達依頼表のお届け情報の新規お届け設定で支援物資の届け先（配置場所）の住所と連絡先を記入登録</li>
                <li>在庫管理表から判明した不足品と余剰品を不足余剰品リスト登録フォームから1件づつ入力登録</li>
                <li>これまで記入したお届け先と不足余剰品リストの内容確認</li>
                <li>上記作業で問題なければ、「支援物資情報を配信する」ボタンをクリックすると支援物資配信情報に内容が表示される</li>
                <li>配信停止したい場合は「支援物資情報を配信停止する」を押してください</li>
              </ol>
          </ul>
  </div>
</div>
</div>
<%= render 'supply_infos/form' %>
<%= render 'supply_infos/order' %>

