<div class="panel panel-default">
  <div class="panel-heading">物上配信登録</div>
  <div class="panel-body">
      不足余剰品リスト登録フォームからこちらから支援物資の不足品や余剰品を入力して下さい。<br>
        <P style="color:red;">特に困っており対処の必要性が優先順位的に高い順に入力すると補給部隊等の関係者が理解しやすいです。</p>
        不足数と余剰数は1千兆（1,000,000,000,000,000)まで入力可能<br>
        このフォームの項目について<br>
        <li>不足品は今欲しい支援物資</li>
         <li>余剰品は今在庫状況的にいらないので誰かにあげたい支援物資</li>
          <li>段ボール数は１つ箱の中に支援物資がある状態→<例>たばこ1箱が最大12個収納でその中身が12個ある場合は１つとしてカウント。</li>
          <li>単数は段ボールに入らず残った数→
          <例>たばこ1箱が最大12個収納でその中身が10個ある場合は10個としてカウント</li>
  </div>
</div>
<%= render 'supply_infos/form' %>
<%= render 'supply_infos/order' %>

