<div class="row">
    <div class="col-sm-8">
    <div class="panel panel-success">
      <div class="panel-heading">支援物資配信情報</div>
          <div class="panel-body">
          <h4>サイトのお願い</h4>デマを流したり、いたずら目的の投稿配信、避難者へご迷惑になるような行為は絶対やめて下さい。<br>
          現在、各地に寄せらせた支援物資の不足品と余剰品に関する情報が搭載されてます
          <table class="table table-bordered">
            	<tbody>
            		<tr>
            			<th>都道府県</th>
            			<td><input type="text" name="example1" placeholder="東京都"></td>
            		</tr>
            		<tr>
            			<th>市区町村</th>
            			<td><input type="text" name="example1" placeholder="○○区"></td>
            		</tr>
            		<tr>
            			<th>避難場所</th>
            				<td><input type="text" name="example1" placeholder="○○学校"></td>
            		</tr>
            		<tr>
            			<th>検索種目</th>
            			<td><input type="checkbox" name="q1" value="その1"> 不足品
                  <input type="checkbox" name="q1" value="その2"> 余剰品
                  <input type="checkbox" name="q1" value="その3"> 不足品と余剰品両方
                  <input type="checkbox" name="q1" value="その3"> 設定しない</td>
            		</tr>
            		<tr>
            			<th>支援物資名</th>
            			<td><input type="text" name="example1" placeholder="検索したい物資名"></td>
            		</tr>
            	</tbody>
            </table>
            	<div class="text-center">
            	  <button type="button" class="btn btn-success  btn-lg btn-block">検索</button>
  	    　　　</div>
          </div>
    </div>  
     
    <div class="panel panel-success">
      <div class="panel-heading">支援物資配信情報一覧</div>
          <div class="panel-body">
              <table class="table table-bordered">
            <tr class="active">
            　<th>不足品配信番号</th>
            　<th>日時</th>
            　<th>避難場所名</th>
            　<th>物資詳細</th>
            </tr>
            　<tr>
                <td>0000001</td>
                <td>2017/2/15(火）16：00</td>
                 <td></td>
                <td>支援物資詳細</td>
            </tr>
        　</table>
          </div>
        </div>
    </div> 
</div>
