<div class="panel panel-success">
  <div class="panel-heading">物資不足情報</div>
      <div class="panel-body">こちらのページは今まで配信された物資不足品に関する情報です</div>
</div>  
 <div class="section"><h3>現状支援一覧登録状況</h3></div>
    　<table class="table table-bordered">
        <tr class="active">
        　<th>不足品配信番号</th>
        　<th>日付</th>
        　<th>時間</th>
        　<th>避難場所名</th>
        　<th>物資詳細</th>
        </tr>
        　<tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    　</table>
