  <!-- ナビゲーション終了 -->
 <div id="containerInner">

<div class="col-sm-8">
<div class="panel panel-success">
  <div class="panel-heading">避難者情報</div>
      <div class="panel-body">現在、あなたの避難所にいる人たちの情報です
   </div>
</div>               　      
          　
<div class="panel panel-default">
  <div class="panel-heading">年齢と人数のアンケート</div>
  <div class="panel-body">アンケートで投票した結果が表示されてます</div>
   <button type="submit" class="btn btn-primary">避難所被災者統計</button>
</div>
</div>
    　　
