  <!-- ナビゲーション終了 -->
 <div id="containerInner">


<div class="panel panel-success">
  <div class="panel-heading">避難者情報</div>
      <div class="panel-body">現在、あなたの避難所にいる人たちの情報です
   </div>
</div>               　      
          　

<div class="panel panel-success">
  <div class="panel-heading">避難者年齢層登録</div>
       <table class="table table-striped">
        <tr>
        <th>年齢層</th>
        <th>男</th>
        <th>女</th>
        <th>ペット</th>
        <th>けが</th>
        <th>病気</th>
        <th>備考</th>
        </tr>
       <tr>
    <td>0歳～9歳</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>10代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>20代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>30代</td>
     <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>40代</td>
      <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>50代</td>
     <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>60代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>70代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>80代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>90代</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    <tr>
    <td>100代以上</td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" size="3" maxlength="9">/<input type="text" name="example1" size="3" maxlength="9"></td>
    <td><input type="text" name="example1" maxlength="300"></td>
    </tr>
    </table>
    <button type="submit" class="btn btn-default btn-success btn-block">年齢層登録完了する</button>
      </div>
    </div>
</div>   
    　　
