　<div class="panel panel-success">
       <div class="panel-heading">現状支援一覧登録状況</div>
        　<div class="panel-body">現在の物資在庫状況をご確認の上でご確認ください</div>
        　  <table class="table table-striped">
      　<tr>
        　<th>番号</th>
          <th>物資名</th>
          <th>現在在庫所持数</th>
          <th>現在不足数</th>
          <th>備考</th>
        </tr>
          <tr>
            <td>0</td>
            <td><input type="image" src="button.gif" alt="コカ・コーラ" align="middle"></td>
            <td>300</td>
            <td>200</td>
            <td>見本</td>
        </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
     </table>  　
      </div>
  　</div> 

 
  