<div class="panel panel-default">
  <div class="panel-heading">物資不足余剰品登録</div>
  <div class="panel-body">
  	こちらのページで物資在庫管理で登録した不足品、余剰品を登録すると物資情報ページに配信されます
  	</div>
</div>

<div class="col-sm-8">  
    <div class="panel panel-default">
      <div class="panel-heading">物資不足余剰品登録フォーム</div>
      <div class="panel-body">
      <table class="table table-bordered">
        <tbody>
        　<tr>
			<th rowspan="2">品名</th>
			<th rowspan="2">写真</th>
			<th colspan="2">余剰品</th>
			<th colspan="2">不足品数</th>
			<th rowspan="2">備考</th>
		</tr>
		<tr>
		 	<th>段ボール</th>
			<th>単品</th>
			<th>段ボール</th>
			<th>単品</th>
		</tr>
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        </tr>
        </tr>
        </tbody>
        </table>

      </div>
      <div class="panel-footer">パネルフッター</div>
    </div>
</div>