　<div class="panel panel-success">
       <div class="panel-heading">記述内容は未定</div>
        　<div class="panel-body">
        　    こちらのページは実装などの内容がまだ決まってません
        　   <ol>検討項目
            　   <li>避難所ではなかなか不足物資や困りごとを容易に口にするのが難しく、容易にその時の特に女性や高齢者が困る→目安箱機能がいるかも</li>
            　   <li>避難所へ配送する際に駐車できるトラックなどの車両種類を知らせる機能</li>
            　   <li>１、に関しては女性ものセット（生理用品、下着、サイズ）を男性の物資管理人にいうのは恥ずかしい</li>
            　   <li>ボランティア求人情報</li>
            　   <li>災害物資で余ってるから取りに来てねという形で情報を搭載登録できる機能</li>
        　   </ol>
        　    </div>
      </div>
  　</div> 

 
  <div class="area">

<dl>
<dt>全国マップ</dt>
<dd class="description">ご希望のエリアをクリックしてください。</dd>
<dd class="map">

<img src="map.gif" alt="全国マップ" width="515" height="210" usemap="#mapArea">

<map name="mapArea" id="mapArea">
<area shape="poly" coords="415,2,509,2,485,51,435,51,432,57,388,57" href="#" alt="北海道" title="北海道エリア">
<area shape="poly" coords="386,61,459,61,424,131,369,131,383,104,365,104" href="#" alt="東北" title="東北エリア">
<area shape="poly" coords="351,133,423,133,392,196,363,196,368,187,324,187" href="#" alt="関東" title="関東エリア">
<area shape="poly" coords="277,108,306,108,302,117,358,117,364,106,380,106,368,131,350,131,334,162,293,162,301,144,259,144" href="#" alt="北陸・信越" title="北陸・信越エリア">
<area shape="poly" coords="273,146,299,146,290,164,333,164,322,187,278,187,274,196,248,196" href="#" alt="東海" title="東海エリア">
<area shape="poly" coords="234,117,270,117,256,146,271,146,246,196,203,196,223,154,215,154" href="#" alt="近畿" title="近畿エリア">
<area shape="poly" coords="166,117,232,117,213,154,147,154" href="#" alt="中国" title="中国エリア">
<area shape="poly" coords="150,158,213,158,194,196,131,196" href="#" alt="四国" title="四国エリア">
<area shape="poly" coords="96,117,162,117,118,206,66,206,92,153,78,153" href="#" alt="九州" title="九州エリア">
<area shape="poly" coords="19,180,63,180,50,206,6,206" href="#" alt="沖縄" title="沖縄エリア">
</map>

</dd>
</dl>

</div>
