　<div class="panel panel-success">
       <div class="panel-heading">記述内容は未定</div>
        　<div class="panel-body">
        　    こちらのページは実装などの内容がまだ決まってません
        　   <ol>検討項目
            　   <li>避難所ではなかなか不足物資や困りごとを容易に口にするのが難しく、容易にその時の特に女性や高齢者が困る→目安箱機能がいるかも</li>
            　   <li>避難所へ配送する際に駐車できるトラックなどの車両種類を知らせる機能</li>
            　   <li></li>
        　   </ol>
        　    </div>
      </div>
  　</div> 

 
  