 <div class="col-sm-9">
        <div class="panel panel-success">
            <div class="panel-heading">会員登録の更新</div>
            <div class="panel-body">
                <h5>写真のサイズは最大縦500×横500までです。<br>
                あなたの避難場所がわかる外観または物資配送時における駐車スペースを写真にすると配送者がわかりやすいでしょう</h5>
          
                <%= render 'users/form' %>
        </div>
    </div>
     </div>
