
<div class="col-sm-11">
<div class="panel panel-danger">
  <div class="panel-heading">レッスン8</div>
  <div class="panel-body">課題：「Have」「Want」ボタンの実装</div>
  <table class="table table-bordered">
	<tbody>
		<tr class="active">
			<th>番号</th>
			<th>内容</th>
			<th>備考</th>
			<th>コマンド</th>
		</tr>
		<tr>
			<td>１</td>
			<td>課題内容</td>
			<td>持っているもの、欲しいもののランキングページを実装</td>
			<td>デモサイトにはこの機能なし</td>
			<td></td>
		</tr>
		<tr>
			<td>２</td>
			<td>課題内容</td>
			<td>app/controllers/ranking_controller.rb を作成実装</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>課題内容</td>
			<td>ランキングを表示するURLは下記のようにすること。</td>
			<td>ranking/have	持っているものの多い順のアイテムを上位10個表示</td>
			<td>ranking/want	欲しいものの多い順のアイテムを上位10個表示</td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>チェックポイント</td>
			<td>
				<ol>
					<li>ヘッダーにリンクを追加しランキングページに遷移</li>
					<li>正しい順位が表示</li>
					<li>ランキングの順位がわかるようデザインを整えること</li>
					<li>Herokuにデプロイしてあること</li>
					<li>ランキングを確認するために、5個以上のデータが作成されている</li>
				</ol>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>チェックポイント</td>
			<td>Have」「Want」ボタンで保存したアイテムは、適切にDB保存すること</td>
			<td>ブランチ ranking を作成して作業を行い、そのブランチをGitHubにプッシュしHerokuのURLと共に提出</td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>注意事項</td>
			<td>
				<ol>
					<li>課題提出後はmasterブランチに戻って作業</li>
					<li>レビュー合格後はrankingブランチをmasterブランチにマージ</li>
				</ol>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>7</td>
			<td>提出時の注意</td>
			<td>提出フォームの項目にある「動作確認用URL」には「HerokuのURL」を記載</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
</div>