 
 <div class="panel panel-default">
  　　<div class="panel-heading">ユーザープロフィール</div>
      <div class="panel-body">
    <%= render 'profile' , user: @user %>
    </div>
  </div>
    <%= render 'items/list' , items: @items %>
    <%= render 'items/list' , items: @items %>
    　