 
 <div class="panel panel-default">
  　　<div class="panel-heading">ユーザープロフィール</div>
      <div class="panel-body">
    <%= render 'profile' , user: @user %>
    </div>
  </div>
    <%= render 'items/list' , items: @items %>
    <%= render 'items/list' , items: @items %>
    <h2>現状支援一覧</h2>
    <div class="panel panel-default">
     <div class="panel-heading">パネルヘッダー</div>
      <div class="panel-body">パネル内容</div>
      <table class="table table-striped">
         <tr>
         <th>1-1</th>
         <th>1-2</th>
         <th>1-3</th>
         </tr>
         <tr>
         <td>2-1</td>
         <td>2-2</td>
         <td>2-3</td>
         </tr>
      </table>
  </div>
    　