<div class="col-sm-5">
<div class="panel panel-default">
  <div class="panel-heading">新規お届け先設定</div>
  <div class="panel-body">支援物資を送ってほしい時の個人情報を設定してください</div>
<%= render 'form' %>
</div>
<div class="panel-footer"><%= link_to '設定結果に戻る', deliveries_path %></div>
 </div>
