<!-- コンテナ開始 -->

　
    <div class="col-md-5">
<div class="panel panel-success">
　<div class="panel-heading">物資在庫登録</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">物資名</div>
        <div class="col-sm-9 form-inline" style="padding: 3px;">
          <input type="text" class="form-control input-sm" id="name" placeholder="コーラ" size="50">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">在庫所持数</div>
        <div class="col-sm-9 form-inline" style="padding: 3px;">
          <input type="text" class="form-control input-sm" id="name" placeholder="200" size="10">
        </div>
      </div>
      <div class="row">
       <div class="col-sm-3">不足数</div>
        <div class="col-sm-9 form-inline" style="padding: 3px;">
          <input type="text" class="form-control input-sm" id="name" placeholder="150" size="10">
        </div>
      </div>
      <div class="row">
       <div class="col-sm-3">不要数</div>
        <div class="col-sm-9 form-inline" style="padding: 3px;">
          <input type="text" class="form-control input-sm" id="name" placeholder="150" size="10">
        </div>
      </div>
     　<div class="row">
       <div class="col-sm-3">備考</div>
        <div class="col-sm-9 form-inline" style="padding: 3px;">
          <textarea name="example1" cols="45" rows="5"></textarea>
       </div>
      </div>
      <div class="text-center" style="padding: 30px;">
        <button type="button" class="btn btn-success">入力内容仮登録 </button>
        <button type="button" class="btn btn-success">削除</button>
      　<button type="button" class="btn btn-success">新規写真登録 </button>
      </div>
    </div>
   </div>
</div>