<h1>ホーム</h1>
        <div class="panel panel-success">
          <div class="panel-heading">relief goodsとは？</div>
        　　<div class="panel-body">
              <ul>
                <li>被災地の物資情報に特化したサイト</li>
                <li>被災地域の不足品と物資を届けたい人とのマッチングサービスを行ってます。</li>
                <li>物資を届けたい人はかならずSNSでの投稿前にこちらのサイトをご確認くださいますよう、おねがいします。</li>
              </ul>
          　</div>
      　</div>
      　 <div class="panel panel-success">
          <div class="panel-heading">新着物資情報</div>
        　　<div class="panel-body">
                <table class="table-bordered">
                  <tr>
                    <th>配信番号</th>
                    <th>日付</th>
                    <th>時間</th>
                    <th>写真</th>
                    <th>補給依頼詳細</th>
                  </tr>
                  <tr>
                    <td>2-1</td>
                    <td>2-2</td>
                    <td>2-3</td>
                    <td>2-1</td>
                    <td>2-2</td>
                  </tr>
              </table>
          　</div>
        　</div>
      　<div class="panel panel-success">
          <div class="panel-heading">サイトからの知らせ</div>
        　　<div class="panel-body">
          　</div>
      　</div>
    　</div>
 