<h1>レッスン8（yukaumemura)</h1>

<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>
<center>
<div class="col-sm-11">
<div class="panel panel-danger">
  <div class="panel-heading">レッスン8</div>
  <div class="panel-body">課題：アイテムページとユーザーページの実装</div>
  <table class="table table-bordered">
	<tbody>
		<tr class="active">
			<th>番号</th>
			<th>項目</th>
			<th>制作エリア</th>
			<th>内容</th>
			<th>備考/コマンド</th>
		</tr>
	<tr>
			<td>１</td>
			<td>課題内容</td>
			<td>持っているもの、欲しいもののランキングページを実装</td>
			<td>デモサイトにはこの機能なし</td>
			<td></td>
		</tr>
		<tr>
			<td>２</td>
			<td>課題内容</td>
			<td>app/controllers/ranking_controller.rb を作成実装</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>課題内容</td>
			<td>ランキングを表示するURLは下記のようにすること。
			　　<ol>
					<li>ranking/have	持っているものの多い順のアイテムを上位10個表示</li>
					<li>ranking/want	欲しいものの多い順のアイテムを上位10個表示</li>
				</ol>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>チェックポイント</td>
			<td>
				<ol>
					<li>ヘッダーにリンクを追加しランキングページに遷移</li>
					<li>正しい順位が表示</li>
					<li>ランキングの順位がわかるようデザインを整えること</li>
					<li>Herokuにデプロイしてあること</li>
					<li>ランキングを確認するために、5個以上のデータが作成されている</li>
				</ol>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>提出方法</td>
			<td>ブランチ ranking を作成作業を行い、そのブランチをGitHubにプッシュしHerokuのURLと共に提出</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>注意事項</td>
			<td>
				<ol>
					<li>課題提出後はmasterブランチに戻って作業</li>
					<li>レビュー合格後はrankingブランチをmasterブランチにマージ</li>
				</ol>
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>7</td>
			<td>提出時の注意</td>
			<td>提出フォームの項目にある「動作確認用URL」には「HerokuのURL」を記載</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
</div>
</center>