<h1>レッスン8（yukaumemura)</h1>

<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<%= render 'items/list' , items: @items %>

<h2>課題：アイテム追加画面の実装</h2>
<table>
	<tbody>
		<tr>
			<th>番号</th>
			<th>内容</th>
			<th>備考</th>
			<th>コマンド</th>
		</tr>
		<tr>
			<td>１</td>
			<td>app/views/items/_items.html.erb を編集して、アイテムを追加するための画面を実装</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>２</td>
			<td>初期状態で /items/new にアクセス(ログインが必要)すると検索画面が表示され、
			<br>検索ワードを入力し検索を行うと楽天市場の検索結果を表示</td>
			<td>参考：デモサイト</td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>app/controllers/items_controller.rb 内に既にコードが記述されていますが、必要に応じて編集</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>ログインは下記アカウントをお使いください。</td>
			<td>ユーザー:guest@techacademy.jp<br>パスワード:guestpass</td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>rakuten_web_serviceの初期化の設定が正しく行えているか</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>楽天市場のアイテムを取得し一覧を表示できているか</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>