<div class="col-sm-8">
     <div class="panel panel-primary">  
      <div class="panel-heading">支援物資不足地域</div>
      <table class="table table-striped table-bordered">
          <caption>現在,現在支援物資が特に不足している地域を順に表示してます。</caption>
         <tbody>
    		<tr class="danger">
    			<th width="80">順位</th>
    			<th width="200">都道府県</th>
    			<th>市区町村</th>
    			<th>備考</th>
    		</tr>
    		<tr>
    			<th></th>
    			<th></th>
    			<th></th>
    			<th></th>
    		</tr>
    	</tbody>
      </table>
    </div>
</div>