 <div class="col-sm-7">
     <div class="panel panel-primary">  
      <div class="panel-heading">楽天アイテム不足数</div>
      <caption>当サイトに登録中の会員が現在欲しいとされる物資の多い順に表示してます。</caption>
      <table class="table table-striped table-bordered">
         <tbody>
    		<tr class="danger">
    			<th>順位</th>
    			<th>個数</th>
    			<th>画像</th>
    			<th>商品名</th>
    		</tr>
    		<tr><% @items.each.with_index(1) do |item,i| %>
    			<th><%= "#{i}" %></th>
    			<th><%= item.want_users.count %></th>
    			<td><%= image_tag(item.large_image , alt: item.title) %></td>
    			<td><%= item.title %></td>
    		</tr>
    		<% end %>
    	</tbody>
      </table>
      </div>
    </div>

