 <div class="col-sm-10">
    <div class="panel panel-success">
       <div class="panel-heading">物資ネット検索</div>
        　<div class="panel-body">
        　 ネットショッピングサイトの楽天市場から欲しい支援物資を検索できます。
        　  </div>
      </div>
  　</div> 
</div>
<div class="container-fluid">
<div class="col-sm-10">
  <div class="panel panel-success">
    <div class="panel-heading">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputName2">物資仮登録フォーム</label>
          <%= form_tag new_item_path , method: :get do %>
          <%= text_field_tag :q , params[:q], placeholder: "キーワードを入力", required: true %>
          <%= submit_tag "商品検索", name: nil , class: "btn btn-default btn-sm btn-success", data: { disable_with: "検索中..."} %>
        <% end %>
      </div>
    </form>
    </div>
    <br>
    
    <div class="search-result">
      <% if @items.present? %>
        <div class="alert alert-info">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          気になったアイテムが欲しければ「Want」持ってれば「Have」しましょう
        </div>
        <%= render 'items' , items: @items %>
      <% elsif params[:q].present? %>
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          検索したアイテムはありません
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>


 