 <div class="panel panel-success">
       <div class="panel-heading">○○○ ××:××の現状支援一覧登録</div>
        　<div class="panel-body">
        　  現在の物資在庫状況をご確認の上で災害物資の内容をご登録ください<br>
        　  </div>
      </div>
  　</div> 　
  　<div class="search">

  <h3 class="bg-success text-center">物資仮登録フォーム</h3>　 
  <%= form_tag new_item_path , method: :get do %>
    <%= text_field_tag :q , params[:q], placeholder: "キーワードを入力", required: true %>
    <%= submit_tag "商品検索", name: nil , class: "btn btn-success", data: { disable_with: "検索中..."} %>
  <% end %>
</div>
<div class="search-result">
  <% if @items.present? %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      気になったアイテムが欲しければ「Want」持ってれば「Have」しましょう
    </div>
    <%= render 'items' , items: @items %>
  <% elsif params[:q].present? %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      検索したアイテムはありません
    </div>
  <% end %>
</div>


      <div class="container">
  <div class="row">
    <div class="col-sm-2">物資名</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <input type="text" class="form-control input-sm" id="name" placeholder="コーラ" size="50">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">在庫所持数</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <input type="text" class="form-control input-sm" id="name" placeholder="200" size="10">
    </div>
  </div>
  <div class="row">
   <div class="col-sm-2">不足数</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <input type="text" class="form-control input-sm" id="name" placeholder="150" size="10">
    </div>
  </div>
  <div class="row">
   <div class="col-sm-2">不要数</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <input type="text" class="form-control input-sm" id="name" placeholder="150" size="10">
    </div>
  </div>
 　<div class="row">
   <div class="col-sm-2">備考</div>
    <div class="col-sm-10 form-inline" style="padding: 3px;">
      <textarea name="example1" cols="45" rows="5"></textarea
    </div>
  </div>
  <div class="text-center" style="padding: 30px;">
    <button type="button" class="btn btn-success">入力内容仮登録 <span class="glyphicon glyphicon-chevron-right"></span></button>
    <button type="button" class="btn btn-success">削除 <span class="glyphicon glyphicon-chevron-right"></span></button>
  　<button type="button" class="btn btn-success">新規写真登録 <span class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
</div>

<!-- サブナビゲーション終了 -->
 <div class="col-sm-7">
 <div class="panel panel-success">
          <div class="panel-heading">現状支援一覧登録状況</div>
        　　<div class="panel-body">
                <table class="table table-striped">
                  <tr>
                    <th>選択</th>
                    <th>番号</th>
                    <th>物資名</th>
                    <th>写真</th>
                    <th>在庫所持数</th>
                    <th>不足数</th>
                    <th>不要数</th>
                    <th>備考</th>
                  </tr>
                  <tr>
                    <td><input type="checkbox" name="chk_1" value="1" id="chk_1" /></td>
                    <td>0</td>
                    <td>コーラ</td>
                    <td><input type="image" src="button.gif" alt="コカ・コーラ" align="middle"></td>
                    <td>300</td>
                    <td>200</td>
                    <td>見本</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
              </table>
          　</div>
        　</div>
  　</div>
</div>

 