header {
  padding:10px;
font-family: 'Vidaloka', serif;
text-align:center;
font-weight:normal;
color:#fff;
font-size: 80%;
  height: 60px;
  .navbar {
    width: 100%;
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:black;
    &.navbar-default {
      background-color: #fff !important;
    }
    .navbar-inner {
      max-width: 1200px;
      margin: 0 auto;
      .navbar-header {
        h1 {
          color:white;
          margin-light:400px;
          padding: 10px 0 0 0 !important;
          a {
            width: 200px;
            height: 40px !important;
            margin: 0;
            background-size: contain;
            display: block;
            white-space: nowrap;
          }
        }
      }
      .maintitle{
display:block;
font-size:72px;
line-height:72px;
letter-spacing:-4px;
text-shadow:1px 1px 3px #ccc,
1px -1px 3px #ccc,
-1px 1px 3px #ccc,
-1px -1px 3px #ccc;
}
.description{
display:block;
font-size:24px;
line-height:10px;
letter-spacing:1px;
text-shadow:1px 1px 3px #ccc,
1px -1px 3px #ccc,
-1px 1px 3px #ccc,
-1px -1px 3px #ccc;
}
      .navbar-nav {
        li {
          a {
            padding: 10px;
            .gravatar {
              margin-right: 2px;
              img {
                border-radius: 100%;
              }
            }
          }
        }
        .dropdown-menu {
          li {
            &.divider {
              margin: 0;
            }
            a {
              padding: 10px 15px;
            }
          }
        }
      }
    }
  }
}
.navbar-collapse.in {
    overflow-y: auto;
}
.logo{
  background-color:#adff2f
}

 @media (max-width: 768px) {
        body {
          font-size: 12px;
        }
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 24px;
        }
        .panel-title {
          font-size: 14px;
        }
      }
.navbar-default {
background-color: #65baad;
border-color: #3e6962;
}
/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
/* navbar hover,focus時のテキストカラー */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #26534c;
background-color: transparent;
}
/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(親)のカラー */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
color: #3e6962;
background-color: #c3ede7;
}
/* navbar ドロップダウン(子)のボックスカラー */
.dropdown-menu {
background-color: #65baad;
border: 1px solid #3e6962;
border: 1px solid #3e6962(0, 0, 0, .15);
-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);
}
/* navbar ドロップダウン(子)テキストカラー */
.dropdown-menu>li>a {
color: #ffffff;
}
/* navbar ドロップダウン(子)focus,hover時のカラー */
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
.dropdown-menu .divider {
background-color: #3e6962;
}
/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #26534c;
background-color: transparent;
}
/* ドロップダウンactive設定時のカラー */
.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
color: #ffb163;
background-color: #d4ede9;
}
}
/* navbar ハンバーガー四角枠 */
.navbar-default .navbar-toggle {
border-color: #ffffff;
}
/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
background-color: #ffffff;
}
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
border-color: #65baad;
}
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
.navbar-default .navbar-toggle:focus > .icon-bar,
.navbar-default .navbar-toggle:hover > .icon-bar {
background-color: #65baad;
}
/* navbar Brandのカラー */
.navbar-default .navbar-brand {
color: #ff5555;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
color: #ff5555;
background-color: transparent;
}