header {
  padding-top:-10px;
font-family: 'Vidaloka', serif;
text-align:center;
font-weight:normal;
color:#fff;
font-size: 15px;
  height: 30px;
  .navbar {
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color:black;
    vertical-align: middle;
    &.navbar-default {
      background-color: #fff !important;
    }
    .navbar-inner {
      max-width: 1200px;
      margin: 0 auto;
      vertical-align: middle;
      height: 5px;
      .navbar-header {
        h1 {
          
           padding-top: -100px !important;
          vertical-align: middle;
          font-size: 30px;
          
          a {
            vertical-align: middle;
            width: 200px;
            height: 30px !important;
            margin-top: -10px;
            background-size: contain;
            display: block;
            white-space: nowrap;
          }
        }
      }
      .maintitle{
display:block;
font-size:72px;
line-height:72px;
letter-spacing:-4px;
text-shadow:1px 1px 3px #ccc,
1px -1px 3px #ccc,
-1px 1px 3px #ccc,
-1px -1px 3px #ccc;
}
.description{
display:block;
font-size:24px;
line-height:10px;
letter-spacing:1px;
text-shadow:1px 1px 3px #ccc,
1px -1px 3px #ccc,
-1px 1px 3px #ccc,
-1px -1px 3px #ccc;
}
      .navbar-nav {
        li {
          border-top: 1px #333333 solid; /* 上境界線 */
border-bottom: 1px #666666 solid; /* 下境界線 */
          border-left: 1px #666666 solid; /* リンクエリアの左境界線 */
border-right: 1px #333333 solid; /* リンクエリアの右境界線 */
text-decoration: none; /* テキストの下線（なし） */
font-weight: bold; /* 太字 */
          a {
            padding: 10px 10px;
          
             vertical-align: middle;
            .gravatar {
              margin-right: 2px;
              img {
                border-radius: 100%;
              }
            }
          }
        li a:link {
color: #ffffff;
}
        }
        .dropdown-menu {
          li {
            &.divider {
              margin: 0;
            }
            a {
              padding: 10px 15px;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
.navbar-collapse.in {
    overflow-y: auto;
}
.logo{

  color: white;

}

 @media (max-width: 768px) {
        body {
          font-size: 12px;
        }
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 24px;
        }
        .panel-title {
          font-size: 14px;
        }
      }
.navbar-default {
background-color: #65baad;
border-color: #3e6962;
}
