 <!-- ナビゲーション開始 -->
                  
<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">ランキング</div>
    <ul class="list-group">
        <nav>
      <li class="list-group-item"><%= link_to "楽天アイテム所持在庫数", ranking_have_path %></li>
      <li class="list-group-item"><%= link_to "楽天アイテム不足数", ranking_want_path %></li>
      <li class="list-group-item"><%= link_to "支援物資不足地域", '#' %></li>
      </nav>
    </ul>
</div>
</div>